<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    <title>Merchant Signup</title>
  </head>
  <body>
    <section class="nav-section">
      <nav class="bg-black">
        <div class="contain">
          <div class="flex">
            <a href="/"><img src="{{ url_for('static', filename='images/Logo.png') }}" alt="" width ="290px" height="70px"/></a>
            <div class="flex-sapce-between">
              <div class="flex-wrap">
               
              
              </div>
            </div>
          </div>
        </div>
      </nav>
    </section>

    <section class="hero-section bg-hero">
      <div class="contain">
        <div class="padding-hero">
          <h2 class="make-font">error</h2>
         
        </div>
      </div>
    </section>
  </body>
</html>