
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    <title>Pet Site</title>

    <style>
      * {
        box-sizing: border-box;
      }
      
      .column {
        float: left;
        width: 33.33%;
        padding: 5px;
        margin-left: 10px;
      }
      
      /* Clearfix (clear floats) */
      .row::after {
        content: "";
        clear: both;
        display: table;
      }
      </style>
  </head>
  <body>
    <section class="nav-section">
      <nav class="bg-black">
        <div class="contain">
          <div class="flex">
            <a href="/"><img src="/static/images/Logo.png" alt="" width ="290px" height="70px"/></a>
            <div class="flex-sapce-between">
              <div class="flex-wrap">
                <ul class="nav-link-wrapper">
                   <li class="nav-link"><a href="/home">Home</a></li>
                  <li class="nav-link"><a href="/petfeed">Pet Feed</a></li>
                  <li class="nav-link"><a href="/petwear">Pet wear</a></li>
                  <li class="nav-link"><a href="/pettoys">Pet Toys</a></li>
                  <li class="nav-link"><a href="/petmedi">Pet Medicines</a></li>
                  <li class="nav-link"><a href="/Mycart">My Cart</a></li>
                  <li class="nav-link"><a href="/logout">Log Out</a></li>
                </ul>
                
              </div>
            </div>
          </div>
          
        </div>
      </nav>
    </section>
    <section class="hero-section bg-hero">
        <div class="contain">
          <div class="padding-hero">
            <h2 class="make-font">Your product is successfully added to the cart</h2>
           
          </div>
        </div>
      </section>
    
</body>
</html>