<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    <title>Pet Feed</title>

    <style>
      * {
        box-sizing: border-box;
      }
      
      .column {
        float: left;
        width: 33.33%;
        padding: 5px;
      }
      
      /* Clearfix (clear floats) */
      .row::after {
        content: "";
        clear: both;
        display: table;
      }
      </style>
  </head>
  <body>



<section class="nav-section">
      <nav class="bg-black">
        <div class="contain">
          <div class="flex">
            <a href="/"><img src="/static/images/Logo.png" alt="" width ="290px" height="70px"/></a>
            <div class="flex-sapce-between">
              <div class="flex-wrap">
                <ul class="nav-link-wrapper">
                   <li class="nav-link"><a href="/home">Home</a></li>
                  <li class="nav-link"><a href="/petfeed">Pet Feed</a></li>
                  <li class="nav-link"><a href="/petwear">Pet wear</a></li>
                  <li class="nav-link"><a href="/pettoys">Pet Toys</a></li>
                  <li class="nav-link"><a href="/petmedi">Pet Medicines</a></li>
                  <li class="nav-link"><a href="/Mycart">My Cart</a></li>
                  <li class="nav-link"><a href="/logout">Log Out</a></li>
                </ul>
                
              </div>
            </div>
          </div>
        </div>
      </nav>
    </section>
    <img src="/static/images/feed/petfeedlogo.png" alt="" width="1520px" height="350px" style="position: absolute; top: 110px;">


   <section>
      <div class="contain" style="    position: relative;
      top: 480px;  text-align: center;">
        <!--div class="padding-hero"-->
    <div class="row" >

  <div class="column">
    <button  >
    <a href="/mycart"><img src="/static/images/feed/petfood 1.png" alt="Snow" width="300px" height="300px"></a></button>
  </div>
  <div class="column"><button>
    <img src="/static/images/feed/petfood1 1.png" alt="Forest" width="300px" height="300px"></button>
  </div>
  <div class="column"><button>
    <img src="/static/images/feed/petfood2 1.png" alt="Mountains" width="300px" height="300px"></button>
  </div>
  </div>
  </div>
      </div>
   <br>
      <div class="contain" style = "position: relative;
      top: 500px; text-align: center;">
        <!--div class="padding-hero"-->
    <div class="row">
        <div class="column"><button>
            <img src="/static/images/feed/petfood3 1.png" alt="Mountains" width="300px" height="300px"></button>
          </div>
          <div class="column"><button>
            <img src="/static/images/feed/petfood4 1.png" alt="Mountains" width="300px" height="300px"></button>
          </div>
          <div class="column"><button>
            <img src="/static/images/feed/petfood5 1.png" alt="Mountains" width="300px" height="300px"></button>
          </div>
  </div>
  </div>
      </div>
    </section>

</body>
</html>
   